#calc {
    display:flex;
}

#side-bar {
    width: 15vw;
    min-width: 100px;
    
}

.react-colorful {
    margin: 10px;
    justify-self: center;
    width: 90% !important;
    height: 20% !important;
}