
.my-graphs-overlay {
    position: fixed;
    top: -3px;
    left: -3px;
    width: 101vw;
    height: 101vh;
    background: rgba(0,0,0,0.7); /* Semi-transparent black */
    transform: scale(0);
    opacity: 0;
    border: transparent;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */

    display: flex;

    transition: transform 0s, opacity 0.2s ease;
}

.my-graphs-overlay.open {
    transform: scale(1);
    opacity: 1;
}


/* Popout container */
.my-graphs-popout {
    display: inherit;
    height: 80%;
    width: 85%;
    background: var(--background-colour);
    border-radius: 10px;
    /* overflow-y: auto; */
    overflow: visible;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;

}

/* Close button */
.close-button {
    position: absolute;
    align-self:flex-end;
    transform: translate(30px, -30px);
    font-size: 20px;
    width: 25px;
    height: 25px;
    background: var(--accent-colour);
    border-radius: 5px;
    color: var(--text-colour);

    border: none;
    cursor: pointer;
}

.close-button:hover {
    background-color: var(--accent-colour2);
}

  /* Columns container */
.columns-container {
    display: flex;
    gap: 20px;
    overflow-y: auto;

    padding-right: 20px;

}



/* Each column */
.column {

    position: relative;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
}

/* Thumbnail container */
.thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;

    margin-bottom: 10px;
    padding: 20px;
    background-color: rgba(0,0,0,0.2);

  }
  
  /* Thumbnail image */
  .thumbnail {
    width: 100%;
    aspect-ratio: 1;

    border: none;
    border-radius: 5px;
  }
  
  .thumbnail-title {
    margin: 5px;
    color: var(--text-colour);
  }

  /* Actions under each thumbnail */
  .thumbnail-actions {
    display: flex;
  }
  
  .thumbnail-actions button {
    padding: 5px 10px;
    margin: 0 5px;
    width: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--accent-colour);
    color: var(--text-colour);
  }
  
  .thumbnail-actions button:hover {
    background-color: var(--accent-colour2);
  }



/* SCROLLBARYAYYYY :33333333333  */


::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.5); 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent-colour); 
    border-radius: 10px;
    width:  50%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-colour2); 
}