/* Login Button */
.save-button {
    background-color: var(--accent-colour);
    color: var(--text-colour);
    border: none;
    padding: 5px 5px;
    margin: 6% 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    text-align: center;
}

.save-button:hover {
    background-color: var(--accent-colour2);
}
