/* Login Button */
.save-button {
    background-color: rgb(var(--accent-colour));
    color: rgb(var(--text-colour));
    border: none;
    padding: 5px 5px;
    margin: 6% 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    text-align: center;
}

.save-button:hover {
    background-color: rgb(var(--accent-colour2));
}

.save-graph-overlay {
    position: fixed;
    top: -3px;
    left: -3px;
    width: calc(100vw + 6px);
    height: calc(100vh + 6px);
    background: rgba(0,0,0,0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    transform: scale(0);
    opacity: 0;
    border: transparent;
    transition: transform 0s, opacity 0.2s ease;
}

.save-graph-overlay.open {
    transform: scale(1);
    opacity: 1;
}

.save-graph-content {
    background-color: rgb(var(--background-colour));
    padding: 20px;
    border-radius: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.save-graph-id {
    color: rgb(var(--text-colour));
    opacity: 0.5;
    margin: 0;
}

.save-graph-button {
    align-self:flex-end;
    padding: 5px 10px;
    margin: 0 5px;
    width: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(var(--accent-colour));
    color: rgb(var(--text-colour));   

}
.save-graph-button:hover{
    background-color: rgb(var(--accent-colour2));
  }

.save-graph-content input {
    padding: 10px;
    border: 2px solid rgb(var(--accent-colour));
    border-radius: 5px;
    color: rgb(var(--text-colour));
    background-color: rgba(0, 0, 0, 0.3);
}
