.component-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    height: 30px;
    background-color: rgb(var(--background-colour2));
    transition: var(--theme-transition);
}

.account-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.header-title {
    font-size: larger;
    transition: var(--theme-transition);
    color: rgb(var(--text-colour));
}


.nav-links {
display: flex;
list-style: none;

margin: 0;
padding: 0;
}



.nav-item {
margin: 10px;
position: relative;
}

.nav-link {
color: var(rgb(--text-colour));
text-decoration: none;
font-size: 16px;
position: relative;
}


